.c1{
  position: absolute;
  display: inline;
width: 35%;
height: 30%;
left: 10%;
top: 55%;
text-align: justify;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.035em;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.c2{
  position: absolute;
  display: inline;
width: 10%;
height: 15%;
left: 50%;
top: 45%;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 39px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 30px 0px;
}


.c3{
  position: absolute;
  display: inline;
width: 10%;
height: 15%;
left: 55%;
top: 60%;

font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: left;
letter-spacing: 0.035em;

/* ERS/Pri */

color: #3270FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 2%;
}

.c4{
  position: absolute;
  display: inline;
width: 10%;
height: 15%;
left: 55%;
top: 70%;

font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: left;
letter-spacing: 0.035em;

/* ERS/Pri */

color: #3270FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 2%;
}

.c5{
  position: absolute;
  display: inline;
width: 15%;
height: 15%;
left: 55%;
top: 80%;

font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: left;
letter-spacing: 0.035em;

/* ERS/Pri */

color: #3270FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 2%;
}

.c6{
  position: absolute;
  display: inline;
width: 15%;
height: 15%;
left: 55%;
top: 90%;

font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: left;
letter-spacing: 0.035em;

/* ERS/Pri */

color: #3270FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 2%;
}

.c7{
  position: absolute;
  display: inline;
width: 30%;
height: 5%;
left: 64%;
top: 60%;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 0.035em;

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 2%;
}

.c8{
  position: absolute;
  display: inline;
width: 400px;
height: 27px;
left: 65%;
top: 70%;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 0.035em;

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 17px;
}

.c9{
  position: absolute;
  display: inline;
width: 400px;
height: 27px;
left: 65%;
top: 80%;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 0.035em;

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 17px;
}

.c10{
  position: absolute;
  display: inline;
width: 400px;
height: 27px;
left: 65%;
top: 93%;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 0.035em;

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 17px;
}

.maps{
  position: absolute;
  display: inline;
width: 20%;
height: 40%;
left: 50%;
top: 100%;




flex: none;
order: 1;
flex-grow: 0;
margin: 50px 0px;
}

.footer2 {
position: absolute;
top: 210%;

bottom: 0px;
Height:58%;
right: 0px;
width: 100%;
background-color: #3270FF;
color: white;
text-align: left;
/* transform: rotate(2.67deg); */
}
.fo{
  position: absolute;
  display: inline;
width: 612px;
height: 403px;
left: 10%;
top: 80%;

}

.c11{
  position: absolute;
width: 30%;
height: 15%;
left: 10%;
top: 65%;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 39px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 30px 0px;
}


.fo1 {
  width: 60%;
  padding: 2% 2%;
  margin: 1% 0;
  box-sizing: border-box;
  border-radius: 11px;
  border-color: black;
  border-style:solid;

  font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
/* line-height: px; */
display: flex;
align-items: center;
}


.button41{

position: absolute;
width:20%;
height: 10%;
left: 1%;
top: 140%;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 24px;



color: #3270FF;



flex: none;
order: 4;
flex-grow: 0;
margin: 0px 0px;
background: #3270FF;
border-radius: 11px;

}


.button41 {
  background-color:#3270FF ;
  color: white;
}

.button42:hover {
  background-color: white;
  color: #3270FF;
}
