.mid{
position: absolute;
width: 100%;
height:90%;
left: 0px;
top: 112px;
margin: 0px;
padding-bottom: 0px;
}


.a1{
  display: inline;
  position: absolute;
  width: 25%;
  height: 24px;
  padding-left: 40%;
  top: 25%;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #3270FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 9px 0px;

}


.a2{


  display: inline;
  position: absolute;
width: 70%;
height: 130px;
padding-left:15%;
top: 35%;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 109%;
/* or 65px */

text-align: center;
letter-spacing: -0.02em;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 9px 0px;

}

.a3{


display: inline;
position: absolute;
width: 50%;
height: 108px;
padding-left:25%;
top:60%;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
text-align: center;
letter-spacing: 0.035em;

/* White */

color: #FFFFFF;
/* or 65px */



/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 9px 0px;

}

.button11{

position: absolute;
display: inline;
width:148.17px;
height: 52.3px;
left: 45%;
top: 80%;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;



color: #3270FF;



flex: none;
order: 4;
flex-grow: 0;
margin: 0px 0px;
background: #3270FF;
border-radius: 11px;

}


.button12 {
  background-color:#3270FF ;
  color: white;
}

.button12:hover {
  background-color: white;
  color: #3270FF;
}


.mid1{
position: absolute;
width:40%;
height: 70%;
left: 10%;
top: 115%;
margin: 0px;
padding-bottom: 120px;
}

.a4{
  display: inline;
  position: absolute;
  width: 310px;
  height: 24px;
  left: 55%;
  top: 120%;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #3270FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 9px 0px;

}

.a5{


display: inline;
position: absolute;
width: auto;
height: 130px;
left: 55%;
top: 128%;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 109%;
/* or 65px */

text-align: left;
letter-spacing: -0.02em;

/* White */

color: black;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 9px 0px;

}

.a6{


display: inline;
position: absolute;
width: 600px;
height: 108px;
left: 55%;
top: 140%;
text-align:justify;


font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;

letter-spacing: 0.035em;

/* White */

color: black;
/* or 65px */



/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 9px 0px;

}


.button21{

position: absolute;
display: inline;
width:148.17px;
height: 52.3px;
left: 55%;
top: 173%;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;



color: #3270FF;



flex: none;
order: 4;
flex-grow: 0;
margin: 0px 0px;
background: #3270FF;
border-radius: 11px;

}


.button21 {
  background-color:#3270FF ;
  color: white;
}

.button21:hover {
  background-color: white;
  color: #3270FF;
}


.mid2 {
position: absolute;
top:195%;
left:-12px;
bottom: 35px;
Height:95%;
right: 0px;
width: auto;
background-color: black;
color: white;
text-align: left;
/* transform: rotate(2.67deg); */
}

.a7{
  display: inline;
  position: absolute;
  width: 310px;
  height: 24px;
  left: 5%;
  top: 5%;

  font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* ERS/Pri */

color: #3270FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 9px 0px;

}

.a8{


display: inline;
position: absolute;
width: 775px;
height: 130px;
left: 5%;
top: 15%;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 109%;


text-align: left;
letter-spacing: -0.02em;



color: #FFFFFF;



flex: none;
order: 1;
flex-grow: 0;
margin: 9px 0px;

}


.a9{


display: inline;
position: absolute;
width: 600px;
height: 108px;
left: 5%;
top: 35%;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
text-align: left;
letter-spacing: 0.035em;

/* White */

color:  #FFFFFF;
/* or 65px */



/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 9px 0px;

}


.button31{

position: absolute;
width:148.17px;
height: 52.3px;
left: 5%;
top: 70%;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;



color: #3270FF;



flex: none;
order: 4;
flex-grow: 0;
margin: 0px 0px;
background: black;
border-radius: 11px;
border-color: white;

}


.button32 {
  background-color:black ;
  color: white;
}

.button32:hover {
  background-color: white;
  color: black;
}

.mid3{
position: absolute;
width:5%;
height: 10%;
left: 51%;
top: 28%;
margin: 0px;
padding-bottom: 0px;
}

.a10{
  position: absolute;
  display: inline;
width: 276px;
height: 78px;
left: 51%;
top: 38%;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 39px;
display: flex;
align-items: left;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 2px 0px;
}

.a11{
  position: absolute;
  display: inline;
width: 280px;
height: 108px;
left: 51%;
top: 55%;
text-align: left;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 0.035em;

color: #ACACAC;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 2px 0px;
}




.mid4{
position: absolute;
width:5%;
height: 10%;
left: 75%;
top: 5%;
margin: 0px;
padding-bottom: 0px;
}

.a12{
  position: absolute;
  display: inline;
width: 276px;
height: 78px;
left: 75%;
top: 17%;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 39px;
display: flex;
align-items: left;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 2px 0px;
}

.a13{
  position: absolute;
  display: inline;
width: 276px;
height: 108px;
left: 75%;
top: 30%;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 0.035em;

color: #ACACAC;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 2px 0px;
}


.mid5{
position: absolute;
width:5%;
height: 10%;
left: 75%;
top: 52%;
margin: 0px;
padding-bottom: 0px;
}

.a14{
  position: absolute;
  display: inline;
width: 276px;
height: 78px;
left: 75%;
top: 64%;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 39px;
display: flex;
align-items: left;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 2px 0px;
}

.a15{
  position: absolute;
  display: inline;
width: 276px;
height: 108px;
left: 75%;
top: 80%;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 0.035em;

color: #ACACAC;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 2px 0px;
}


.a16{
  display: inline;
  position: absolute;
  width: 310px;
  height: 24px;
  left: 40%;
  top: 295%;

  font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
/* identical to box height */


/* ERS/Pri */

color: #3270FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 9px 0px;

}

.a17{


display: inline;
position: absolute;
width: 1000px;
height: 130px;
left: 22%;
top: 300%;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 109%;
/* or 65px */

text-align: center;
letter-spacing: -0.02em;

/* White */

color: black;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 9px 0px;

}


.a18{


display: inline;
position: absolute;
width: 706px;
height: 108px;
left: 30%;
top: 310%;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
text-align: center;
letter-spacing: 0.035em;

/* White */

color: black;
/* or 65px */



/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 9px 0px;

}

.con{
  position: absolute;
width:87%;
height: 284px;
left: 8%;
top: 345%;

background: #EEEDFF;
border-radius: 20px;
}
.abb{
  position: absolute;
width: 25%;
height:110%;
left: 8.5%;
top: -50%;
}

.sei{
  position: absolute;
width: 25%;
height:110%;
left: 37%;
top: -50%;
}

.cg{
  position: absolute;
width: 25%;
height:110%;
left: 66.5%;
top: -50%;

}

.ul1{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px 26px;

position: absolute;
width: 15%;
height: 50%;
left: 11.5%;
top: 35%;

/* White */

background: #FFFFFF;
border-radius: 8px;
}
.ulh{
  font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 23px;
line-height:20px;
margin-top: 10px;
margin-bottom: 0px;

/* margin:0px; */
/* identical to box height */


color: #000000;
}
.uln{
  font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;

color: #000000;
}

.ul2{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px 26px;

position: absolute;
width: 15%;
height: 50%;
left: 40%;
top: 35%;

/* White */

background: #FFFFFF;
border-radius: 8px;
}

.ul3{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px 26px;

position: absolute;
width: 15%;
height: 50%;
left: 69.5%;
top: 35%;

/* White */

background: #FFFFFF;
border-radius: 8px;
}

.bbox{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 53px 66px;

position: absolute;
width: 70%;
height: 15%;
left: 10%;
top: 395%;

/* ERS/Sec */

background: #0E0D1A;
border-radius: 17px;
z-index: 1;

}

.bboxa{
  position: absolute;
width: 650px;
height: 108px;
left: 0px;
top: 50px;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.035em;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 96px;
z-index: 2;
}
.bboxb{
  position: absolute;
width: 146px;
height: 39px;
left: 850px;
top: 50px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 39px;
/* identical to box height */

display: flex;
align-items: center;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 5px 0px;
z-index: 2;

}
.bboxc{
  position: absolute;
width: 319px;
height: 60px;
left: 850px;
top: 90px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 37px;
line-height: 60px;
/* identical to box height */

display: flex;
align-items: left;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 5px 0px;
}
